body {
  background-color: aqua;
  text-align: center;
}
.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  color: beige;
}

img {
  max-width: 500px;
  border-radius: 10px;
}
